<div class="row h-100 align-items-center">
  <div class="col-sm-12">
      <div class="card card-block mx-auto" id="calculator">
        <form #calcForm="ngForm">
          <div class="input-group-prepend">
            <input disabled ngModel #screen="ngModel" id="calc-screen" type="text" class="form-control" name="screen" placeholder="0">
          </div>
          <div class="form-group">
            <div>
                <span>
                    <button type="button" id="clear-button" (click)=reset(calcForm) class="btn btn-light round-button black-text">C</button>
                    <button type="button" id="sign-button" (click)=changeSign(calcForm) class="btn btn-light round-button black-text">&#177;</button>
                    <button type="button" id="sqrt-button" (click)=assignAction(5) class="btn btn-light round-button black-text">&#8730;</button>
                    <button type="button" id="divide-button" (click)=assignAction(1) class="btn btn-warning round-button">&divide;</button>
                </span>
            </div>
            <div>
                <span>
                    <button type="button" id="seven-button" (click)=enterDigit(calcForm,7) class="btn btn-secondary round-button">7</button>
                    <button type="button" id="eight-button" (click)=enterDigit(calcForm,8) class="btn btn-secondary round-button">8</button>
                    <button type="button" id="nine-button" (click)=enterDigit(calcForm,9) class="btn btn-secondary round-button">9</button>
                    <button type="button" id="multiply-button" (click)=assignAction(2) class="btn btn-warning round-button">X</button>
                </span>
            </div>
            <div>
                <span>
                    <button type="button" id="four-button" (click)=enterDigit(calcForm,4) class="btn btn-secondary round-button">4</button>
                    <button type="button" id="five-button" (click)=enterDigit(calcForm,5) class="btn btn-secondary round-button">5</button>
                    <button type="button" id="six-button" (click)=enterDigit(calcForm,6) class="btn btn-secondary round-button">6</button>
                    <button type="button" id="minus-button" (click)=assignAction(3) class="btn btn-warning round-button">-</button>
                </span>
            </div>
            <div>
              <span>
                  <button type="button" id="one-button" (click)=enterDigit(calcForm,1) class="btn btn-secondary round-button">1</button>
                  <button type="button" id="two-button" (click)=enterDigit(calcForm,2) class="btn btn-secondary round-button">2</button>
                  <button type="button" id="three-button" (click)=enterDigit(calcForm,3) class="btn btn-secondary round-button">3</button>
                  <button type="button" id="plus-button" (click)=assignAction(4) class="btn btn-warning round-button">+</button>
              </span>
          </div>
            <div>
                <span>
                    <button type="button" id="zero-button" (click)=enterDigit(calcForm,0) class="btn btn-secondary round-button zero-button">0</button>
                    <button type="button" id="dot-button" (click)=enterDot(calcForm) class="btn btn-secondary round-button">.</button>
                    <button type="button" id="equals-button" (click)=calculate(calcForm) class="btn btn-warning round-button">=</button>
                </span>
            </div>
        </div>
        </form>
        <small>Calculator by <a href="http://www.arunasracelis.com">Arūnas Račelis</a> | 2020</small>
      </div>
  </div>
</div>